{
  "tagFormat": "v${version}",
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    ["@semantic-release/git", {
        "assets": [],
        "message": "chore(release): ${nextRelease.version} [skip ci]",
        "tagFormat": "v${version}"
    }],
      ["@semantic-release/exec", {
        "successCmd": "echo \"SEMVER_VERSION=${nextRelease.version}\" >> $GITHUB_ENV && echo \"TAG_SHA=$(git rev-parse v${nextRelease.version})\" >> $GITHUB_ENV"
      }]
  ]
}
